mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
  }
  mat-form-field {
    display: block;
  }

  table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
  }