mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  mat-form-field {
    display: block;
  }
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }