
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space">
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/editprod'"> Edit Product </a>
      <a mat-button [routerLink]="'/edituser'"> Edit User </a>
      <a mat-button [routerLink]="'/table'"> Table </a>
      <a mat-button [routerLink]="'/form'"> Form </a>
      <a mat-button [routerLink]="'/login'"> Login </a>
      <button  mat-button color="warn" (click)="openDialogForm()"> Dialog form </button>
    </span>

    <span>
        <label *ngIf="currentUser"> Hi, {{currentUser}} </label>

        <button mat-icon-button aria-label="Account" [routerLink]="'/login'">
          <mat-icon>account_circle</mat-icon>
        </button>
        
        <button mat-icon-button aria-label="Shopping cart" [routerLink]="'/shopcart'">
          <mat-icon>shopping_cart</mat-icon>
        </button>

        <button mat-icon-button aria-label="Favorite" (click)="logout()">
          <mat-icon matBadge="15" matBadgeColor="warn">favorite_border</mat-icon>
        </button>

    </span>

  </mat-toolbar-row>
</mat-toolbar>
<app-loading></app-loading>
<router-outlet></router-outlet>




