<router-outlet></router-outlet>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="fuck">
    <th mat-header-cell *matHeaderCellDef colspan="2"> FUUUUCK </th>
  </ng-container>

  <ng-container matColumnDef="fuck1">
    <th mat-header-cell *matHeaderCellDef colspan="2"> FUUUUCK </th>
  </ng-container>

  <ng-container matColumnDef="fuck2">
    <th mat-footer-cell *matFooterCellDef colspan="2"> FUUUUCK </th>
  </ng-container>

  <ng-container matColumnDef="fuck3">
    <th mat-footer-cell *matFooterCellDef colspan="2"> FUUUUCK </th>
  </ng-container>


  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['fuck', 'fuck1']"></tr>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr mat-footer-row *matFooterRowDef="['fuck2', 'fuck3']"></tr>

</table>
